body{
    background-color: #F1F1F1;
    padding: 0;
    font-family: Roboto !important;

}



h1 {
    font-weight: bold;
    color: #008137;
    font-size: 52px;
    text-align: center;
  }

#form {
    text-align: center;
    color: black;
}
  
  input[type="radio"].margin {
      margin: 0px 0px 0px 20px;
  }
  

  

  
  #relevance {
      margin: 0px 0px 0px 0px;

  }
  
  #clustering {
      margin: 20px 0px 0px 0px;

  }
  
  #queryexp {
      margin: 20px 0px 0px 0px;

  }
  
  #srch {
      margin: 20px 0px 0px 0px;

  }


.search-engine-frame{
    display:flex;
}

.search-engine-frame > div{
    flex: 1;
}