<!doctype html>

<html>
  <head>
	<meta name="author" content="Team 1">
    <title>Search Engine for Science</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
  </head>
  <body>
    
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js')}}"></script>
    
      
    <div class='title'>
    
        <h1>&#129516; Science Search Engine &#128300;</h1>
    </div>
      
    <div>
    
        <form id="form" onsubmit="return true;">
          <div class="search-bar">
            <input type="text" placeholder="Enter query here..." id="UserInput"><br/>
          </div>
            
            <p id="relevance">Relevance Model Options:</p>
            <input type="radio" checked id="page_rank" name="type" value="page_rank">
            <label id="page_rank_label" for="page_rank">Page Rank</label>
            <input type="radio" id="hits" name="type" value="hits" class="margin">
            <label id="hits_label" for="hits">HITS</label><br/>
            <hr>
            <p id="clustering">Clustering Options:</p>
            <input type="radio" id="flat_clustering" name="type" value="flat_clustering">
            <label id="flat_clustering_label" for="flat_clustering">Flat Clustering</label>
            <input type="radio" id="singlelink_clustering" name="type" value="singlelink_clustering">
            <label id="singlelink_clustering_label" for="singlelink_clustering">Single Link Clustering</label><br>
            <input type="radio" id="completelink_clustering" name="type" value="completelink_clustering">
            <label id="completelink_clustering_label" for="completelink_clustering">Complete Link Clustering</label><br>
            <hr>
            <p id="queryexp">Query Expansion Option:</p>
            <input type="radio" id="association_qe" name="type" value="association_qe">
            <label id="association_qe_label" for="association_qe">Association</label>
            <input type="radio" id="metric_qe" name="type" value="metric_qe">
            <label id="metric_qe_label" for="metric_qe">Metric</label>
            <input type="radio" id="scalar_qe" name="type" value="scalar_qe">
            <label id="scalar_qe_label" for="query_expansion">Scalar</label>
            <br/>
            <hr>
            <div id="query-expansion-result" style="display: none;">
              <h2>Query Expansion Result:</h2>
              <p id="query-expansion-output"></p>
          </div>
            <input id="srch" type="button" value="Search" onclick="search(); queryToGoogleBing(); return false;">
            <hr>
            
        </form><br/>
    </div> 
      
    <script>
        $(document).ready(function() {
          $(window).keydown(function(event){
            if(event.keyCode == 13) {
              event.preventDefault();
              return false;
            }
          });
        });
    </script>
      
    <div>
        <iframe id="countries" width="90%" height="500"></iframe>
    </div>
      
    
      
 

    <div class=search-engine-frame>
      
    
    <div>
      <h2 style="color: dodgerblue">Google Search</h2>
      <p id="google-summary"></p>
        <iframe id="google" src="https://www.google.com/search?igu=1&source=hp&ei=lheWXriYJ4PktQXN-LPgDA&q=" align= "left" height="512" width=90%></iframe>
    </div>
      
  
      
    <div>
      <h2 style="color: forestgreen">Bing Search</h2>
      <p id="bing-summary"></p> 
        <iframe id="bing" src="https://www.bing.com/search?q=" height="512" width=100% align="right"></iframe>
    </div>

    </div>
      
  </body>
</html>